<nav class="navbar navabar-dark bg-primary">
  <a class="navbar-brand" href="/">
    Angular Simple CRUD
  </a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <li *ngFor="let country of countryArray" class="list-group-item list-group-item-action">
          <span class="badge badge-primary">{{country.id}}</span>{{country.name}} -{{country.capital}}
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Insert a places
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img width="300" alt="Logo" src="https://t2.gstatic.com/licensed-image?q=tbn:ANd9GcRBEvRXnbYt2uKMdd3J7dwA7pBGbAI9VeZfvLX5EP-OhN4mjnwi6l7ILEUp6QvPbMV9">
    </div>
  </div>
</div>
